<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <style>@import url('https://fonts.cdnfonts.com/css/western-cowboy');</style>

</head>
<header> 
    <nav>
        <b>|</b>    Home
        <b>|</b>    <a href = "/login"> Login </a>
        <b>|</b>    <a href = "/online-order"> Online Order</a>
        <div id="google_translate_element"></div>
        <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>
    
    <script type="text/javascript">
      function googleTranslateElementInit() {
          new google.translate.TranslateElement(
              {pageLanguage: 'en'},
              'google_translate_element'
          );
      }
  </script>
    </nav>
</header>


<body>
    <div class = "wrapper"> 


        <h1> Cabo Grill Homepage </h1>

    </div>
</body>

<footer> <div class ="us"> Jonathan Kutsch | Asger Larsen | Joshua Batac | Semion Dyadkin </div></footer>
</html>