<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <style>@import url('https://fonts.cdnfonts.com/css/western-cowboy');</style>

</head>
<header> 
    <nav>
        <b>|</b>    Home
        <b>|</b>    <a href = "/login"> Login </a>
        <b>|</b>    <a href = "/online-order"> Online Order</a>
    
    </nav>
</header>


<body>
    <div class = "wrapper"> 


        <h1> Cabo Grill Homepage </h1>

    </div>
</body>

<footer> <div class ="us"> Jonathan Kutsch | Asger Larsen | Joshua Batac | Semion Dyadkin </div></footer>