<!DOCTYPE html>
<head>
    <title>Users</title>
    <link rel="stylesheet" href="css/login.css"></link>
</head>

<nav>
    <b>|</b>    <a href="/ ">Home</a>
    <b>|</b>    Login
    <b>|</b>    <a href = "/Online-Order"> Online Order</a>
    <b>|</b>    <a href="/server-view">Server View</a>

</nav>

<html>
<body>
  <div class="center">
    <input type="checkbox" id="click">
    <label for="click" class="click-me">Login </label>
    <div class="content">
      <div class="text">
        LOGIN
     </div>
        <label for="click" id="temp">x</label>

    <form>

        <label for="username">Name</label>
        <input type="text" placeholder="Name" id="username">
            <a href="/Manager-View">Manager_view(temp)</a>
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password">

        <button>Log In</button>

    </form>
      </div>
    </div>
  </div>
</body>
</html>

