<!DOCTYPE html>
<head>
    <title>Manager-view</title>
    
</head>

<nav>
    <b>|</b>    <a href="/ ">Home</a>
    <b>|</b>    Login
    <b>|</b>    <a href = "/Online-Order"> Online Order</a>

</nav>

<html>
<body>
  <table>
    <tr>
      <th>Food name &nbsp; </th>
      <th>Food ID &nbsp; </th>
      <th>Count &nbsp; </th>
      <th>Capacity &nbsp; </th>
      <th>Number sold &nbsp; </th>
    </tr>
    <tr>
      <td>Chicken</td>
      <td>0</td>
      <td>24</td>
      <td>42</td>
      <td>100</td>
    </tr>
    <tr>
      <td>Steak</td>
      <td>1</td>
      <td>244</td>
      <td>43424</td>
      <td>3</td>
    </tr>
  </table>
</html>

