<!DOCTYPE html>
<head>
    <title>Online Order</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <style>@import url('https://fonts.cdnfonts.com/css/western-cowboy');</style>
    <script src = 'js/scripts.js' type = 'text/javascript'></script>

</head>
<header> 
    <nav>
        <b>|</b>    <a href="/ ">Home</a>
        <b>|</b>    <a href = "/login"> Login </a>
        <b>|</b>    <a href = "/online-order"> Online Order</a>
    
    </nav>
</header>


<body>
    <div class = "wrapper"> 


        <h1> CHECKOUT </h1>
        <button onclick="showCost()">COST!</button>

    </div>



</body>

<footer> <div class ="us"> Jonathan Kutsch | Asger Larsen | Joshua Batac | Semion Dyadkin </div></footer>