<!DOCTYPE html>
<head>
    <title>Online Order</title>
    <link rel="stylesheet" href="css/style.css"></link>
    <style>@import url('https://fonts.cdnfonts.com/css/western-cowboy');</style>
    <script src = 'js/scripts.js' type = 'text/javascript'></script>

</head>
<header>
    <nav>
        <b>|</b>    <a href="/ ">Home</a>
        <b>|</b>    <a href="/user">Users</a>
        <b>|</b>    Online Order
        <b>|</b>    <a href="/server-view">Server View</a>
    </nav>
</header>


<body>
    <div class = "wrapper">
        <h1> Online Order</h1>
            <div class = "menu" >
                <p> choose your base: </p>
                <div class = "buttons">
                    <input type="radio" id="13" name="base" value="Burrito" > 
                    <label for="13">Burrito</label>

                    <input type="radio" id="14" name="base" value="Bowl"> 
                    <label for="14">Bowl</label>
                </div>

                <br>
                <hr>
                <br>

                <p> Protein or Veggies </p>
                <div class = "buttons">
                    <input type="radio" id="0" name="protein" value="Chicken"> 
                    <label for="0">Chicken</label>

                    <input type="radio" id="1" name="protein" value="Steak"> 
                    <label for="1">Steak</label>

                    <input type="radio" id="2" name="protein" value="Beef"> 
                    <label for="2">Beef</label>

                    <input type="radio" id="3" name="protein" value="Vegetables"> 
                    <label for="3">Vegetables</label>

                </div>

                <br>
                <hr>
                <br>

                <p> Add ons </p>
                <div class = "buttons">
                    <input type="checkbox" id="4" onclick="validate(id)"> 
                    <label for="4">Gucamole</label>
                    
                    <input type="checkbox" id="5" onclick="validate(id)"> 
                    <label for="5">Queso</label>

                    <br> <br>
                    <input type="checkbox" id="15" onclick="validate(id)"> 
                    <label for="15">Rice</label>

                    <input type="checkbox" id="16" onclick="validate(id)"> 
                    <label for="16">Cheese</label>

                    <input type="checkbox" id="17" onclick="validate(id)"> 
                    <label for="17">Ranch</label>

                    <br> <br>
                    <input type="checkbox" id="18" onclick="validate(id)"> 
                    <label for="18">Chipotle</label>

                    <input type="checkbox" id="19" onclick="validate(id)"> 
                    <label for="19">Salsa</label>

                    <input type="checkbox" id="20" onclick="validate(id)"> 
                    <label for="20">Sour Cream</label>

                    <input type="checkbox" id="21" onclick="validate(id)"> 
                    <label for="21">Cream</label>
                </div>
                
                <br>
                <hr>
                <br>

                <p>
                    Drinks and Deserts
                </p>
                
                <!--
                    
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>

                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
    
    
                -->
    
                
            </div>
        
 
    </div>
</body>

<footer>
    <input type="checkbox" id= "same-customer"> <label for="same-customer">Same customer?</label>
    <button onclick="sendOrder()" > Send Order </button>
</footer>
