<!DOCTYPE html>
<head>
    <title>Server View</title>
</head>

<nav>
    <b>|</b>    <a href="/ ">Home</a>
    <b>|</b>    <a href = "/online-order"> Online Order</a>
    <b>|</b>    Server View
    <b>|</b>    <a href="/Manager-View">Manager Page</a>
</nav>

<body>
    <h1>Server View</h1>
</body>