<!DOCTYPE html>
<head>
    <title>Server View</title>
</head>

<nav>
    <b>|</b>    <a href="/ ">Home</a>
    <b>|</b>    <a href="/login">Login</a>
    <b>|</b>    <a href = "/Online-Order"> Online Order</a>
    <b>|</b>    Server View
</nav>

<body>
    <h1>Server View</h1>
</body>