<!DOCTYPE html>
<head>
    <title>Server View</title>
    <link rel="stylesheet" href="css/style-bare.css"></link>
    <script src = 'js/scripts.js' type = 'text/javascript'></script>
</head>



<body>
    <div class = "wrapper">
        <h1> Server View</h1>
            <div class = "menu" >
                <p> Base </p>
                <div class = "buttons">
                    <input type="radio" id="13" name="base" value="Burrito" > 
                    <label for="13">Burrito</label>
                    &nbsp;
                    &nbsp;

                    <input type="radio" id="14" name="base" value="Bowl"> 
                    <label for="14">Bowl</label>
                    &nbsp;
                    &nbsp;
                    <input type="radio" name="base" id = "-1" checked="checked"> 
                    <label for="-1">None</label>

                </div>

                <br>
                <hr>
                <br>

                <p> Protein or Veggies </p>
                <div class = "buttons">
                    &nbsp; &nbsp;

                    <input type="radio" id="0" name="protein" value="Chicken" onclick="validateProtein(id)"> 
                    <label for="0">Chicken <div class = "price">($7.29)</div></label>
                    &nbsp; &nbsp;

                    <input type="radio" id="1" name="protein" value="Steak" onclick="validateProtein(id)"> 
                    <label for="1">Steak <div class = "price">($8.29)</div></label>
                    &nbsp; &nbsp;

                    <input type="radio" id="2" name="protein" value="Beef" onclick="validateProtein(id)"> 
                    <label for="2">Beef <div class = "price">($8.19)</div></label>
                    &nbsp; &nbsp;

                    <input type="radio" id="3" name="protein" value="Vegetables" onclick="validateProtein(id)"> 
                    <label for="3">Vegetables <div class = "price">($7.29)</div></label>

                    &nbsp; &nbsp;

                    <input type="radio" name="protein" id = "-2" checked="checked" onclick="validateProtein(id)"> 
                    <label for="-2">None</label>

                </div>

                <br>
                <hr>
                <br>

                <p> Add ons </p>
                <div class = "buttons">
                    <input type="checkbox" id="4" onclick="validate(id)"> 
                    <label for="4">Gucamole <div class ="price">($2.00)</div> </label>
                    &nbsp; &nbsp; &nbsp;

                    <input type="checkbox" id="5" onclick="validate(id)"> 
                    <label for="5">Queso <div class ="price">($2.00)</div></label>

                    &nbsp; &nbsp; &nbsp;

                    <input type="checkbox" id="15" onclick="validate(id)"> 
                    <label for="15">Rice</label>
                    &nbsp; &nbsp; &nbsp;

                    <input type="checkbox" id="16" onclick="validate(id)"> 
                    <label for="16">Cheese</label>
                    &nbsp; &nbsp; &nbsp;

                    <input type="checkbox" id="17" onclick="validate(id)"> 
                    <label for="17">Ranch</label>

                    &nbsp; &nbsp; &nbsp;

                    <input type="checkbox" id="18" onclick="validate(id)"> 
                    <label for="18">Chipotle</label>
                    &nbsp; &nbsp; &nbsp;

                    <input type="checkbox" id="19" onclick="validate(id)"> 
                    <label for="19">Salsa</label>
                    &nbsp; &nbsp; &nbsp;

                    <input type="checkbox" id="20" onclick="validate(id)"> 
                    <label for="20">Sour Cream</label>
                    &nbsp; &nbsp; &nbsp;

                    <input type="checkbox" id="21" onclick="validate(id)"> 
                    <label for="21">Cream</label>
                </div>
                
                <br>
                <hr>
                <br>

                <p> Chips and Dips </p>
                <div class = "buttons">
                    <input type="checkbox" id="6" onclick="validate(id)"> 
                    <label for="6">Chips and Salsa <div class = "price">($2.19)</div> </label>
                    &nbsp; &nbsp;

                    <input type="checkbox" id="7" onclick="validate(id)"> 
                    <label for="7">Chips and Queso <div class = "price">($3.64)</div></label>
                    &nbsp; &nbsp;
                    <input type="checkbox" id="8" onclick="validate(id)"> 
                    <label for="8">Chips and Guac <div class = "price">($3.69)</div> </label>
                </div>
                
                <br>
                <hr>
                <br>


                <p> Drinks and Deserts </p>
                <div class="buttons"> 
                    <input type="checkbox" id="11" onclick="validate(id)"> 
                    <label for="11">16oz Drink <div class = "price"> ($2.75)</div></label> &nbsp; &nbsp;

                    <input type="checkbox" id="12" onclick="validate(id)"> 
                    <label for="12">22oz Drink<div class = "price"> ($2.25)</div></label> 
                    &nbsp; &nbsp;

                    <input type="checkbox" id="9" onclick="validate(id)"> 
                    <label for="9">Brownie<div class = "price"> ($1.99)</div></label> &nbsp; &nbsp;

                    <input type="checkbox" id="10" onclick="validate(id)"> 
                    <label for="10">Cookie<div class = "price"> ($1.99)</div></label>
                </div>
                <br>
                <br>
                <hr>
                <br>
                <!--
                    
                <input type="radio" id="javascript" name="fav_language" value="JavaScript">
                <label for="javascript">JavaScript</label>

                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
    
    
                -->
                
            </div>
        
 
    </div>
</body>
<br>
<footer>
    <div class = "buttons">
            <input type="checkbox" id= "same-customer"> <label for="same-customer">Same customer?</label>
            &nbsp; &nbsp;
            <input type="checkbox" id="22" onclick="validate(id)"> 
            <label for="22">Napkins</label> &nbsp; &nbsp;
        
            <input type="checkbox" id="23" onclick="validate(id)"> 
            <label for="23">Utensils</label>

        <br>
        <br>
        <button onclick="sendOrder()"> Total: <div class = "price"><text id = "total" value = "0.0"> $0.00</text> </div>  </button>

        <form action="" method="POST">
            <input type="submit" class = "button" value="Verify Price then Click Me" id = "submit" style="visibility: hidden;"> 
            <div class = "invis"> <input type="text" name="statement" id = "statementID" value = "" style="visibility: hidden;" >  </div>
        </form>
        
        <div class ="us"> Jonathan Kutsch | Asger Larsen | Joshua Batac | Semion Dyadkin<br> <p>
            <button onclick = "resetCounter()">reset customer numbers</button>

        </p> </div>

</div>
</footer>
<nav>
    <b>|</b>    <a href="/ ">Home</a>
    <b>|</b>    <a href="/login">login</a>
    <b>|</b>    <a href = "/Online-Order"> Online Order</a>
    <b>|</b>    Server View
    <div id="google_translate_element"></div>
        <script type="text/javascript"
        src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>
    
    <script type="text/javascript">
      function googleTranslateElementInit() {
          new google.translate.TranslateElement(
              {pageLanguage: 'en'},
              'google_translate_element'
          );
      }
  </script>
</nav>
