<!DOCTYPE html>
<head>
    <title>Users</title>
</head>

<nav>
    <b>|</b>    <a href="/ ">Home</a>
    <b>|</b>    Users
    <b>|</b>    <a href = "/Online-Order"> Online Order</a>
    <b>|</b>    <a href="/server-view">Server View</a>

</nav>

<body>
    <h1>Team Members</h1>
    <% for (var i in teammembers) { %>
        <p> Name: <%=teammembers[i].student_name%>, Section: <%=teammembers[i].section%></p>
    <% } %>
</body>

